Button {
    -fx-background-color: #222255;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #4444AA;
    -fx-border-width: 1;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 1);
}
